@page
@model IndexModel
@{
    ViewData["Title"] = "Welkom bij FoodFestival Companion";
}

<section class="hero text-center">
    <h1>Welkom bij Food Around The Globe</h1>
    <p>Jouw festival companion voor een onvergetelijke, culinaire ervaring!</p>

</section>


<style>
    
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 1000px !important; /* zelfde breedte als je .map */
       
    }

    main.pb-3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
</style>
<img src="~/images/Logo.png" alt="Logo" />