@page
@model IndexModel
@{
    ViewData["Title"] = "Welkom bij FoodFestival Companion";
}

<section class="hero text-center">
    <h1>Welkom bij Food Around The Globe</h1>
    <p>Jouw festival companion voor een onvergetelijke, culinaire ervaring!</p>
    <p>Log in of registreer om toegang te krijgen tot workshops en de interactieve plattegrond.</p>
    <p>test 123 roger this?</p>


    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a class="btn btn-primary" asp-page="/Dashboard">Ga naar Dashboard</a>
    }
    else
    {
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
        <a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Register">Registreren</a>
    }
</section>




