@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Wij beschermen uw privacy met betrekking tot het verstrekken van uw persoonsgegevens. 
   Uw gegevens worden enkel gebruikt ter verbetering van onze website, workshops en de algehele gebruikerservaring.
   Door het betreden van ons festival terrein geeft u toestemming om op het terrein gemaakte foto’s en video’s 
   te gebruiken voor publicatie en promotie doeleinden.
   Ook dient u zich te houden aan onze huisregels. Wij wensen namelijk voor iedereen 
   een onvergetelijke, culinaire ervaring en een positieve sfeer.
   Houdt u zich niet aan de huisregels kan beveiliging u verwijderen van het terrein. 
  
</p>


<h2>Huisregels Food Around The Globe</h2>
<li>1. Wij verkopen geen alcohol aan personen onder de 18 jaar. Bij twijfel wordt gevraagd om legitimatie.</li>
<li>2. Eigen eten en drinken mee het terrein opnemen is niet toegestaan. Er is genoeg eten en drinken aanwezig.</li>
<li>3. Het betreden van het terrein is op eigen risico. 
    De organisatie is niet aansprakelijk voor diefstal, materiele en/of immateriele schade van een bezoeker in welke vorm dan ook.</li>
<li>4. De entree van Food Around The World is altijd gratis. Minderjarigen mogen alleen binnen met een meerderjarige.</li>
<li>5. Verspreiden van iedere vorm van reclame uitingen is zonder toestemming van organisatie niet toegestaan.</li>
<li>6. Het is niet toegestaan glas- of blikwerk het festival terrein mee op te nemen.</li>
<li>7. Wapen en drugsbezit/gebruik zijn niet toegestaan op het terrein.</li>
<li>8. Agressiviteit en/of intimidatie in welke vorm dan ook wordt niet geaccepteerd.</li>
<li>9. Je dient te allen tijden de aanwijzingen van organisatie, beveiliging, personeel en hulpdiensten op te volgen.</li>
<li>10.De organisatie en beveiliging hebben altijd het recht u de toegang tot terrein te weigeren.</li>
<li>11.Wildplassen is niet toegestaan. Er zijn voldoende toiletvoorzieningen.</li>
<li>12.Bezoekers kunnen bij de entree gefouilleerd/gevisiteerd worden. De toegang kan geweigerd worden.</li>
<li>13.De organisatie behoudt zich het recht personen van het terrein te verwijderen die aangeschoten of dronken gedrag vertonen.</li>
<li>14.Het gehele terrein is vape en rookvrij.</li>